body {
  font-family: 'Lato', sans-serif;
}

.logo {
  color: white;
  background: #183152;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo h2 {
  font-weight: bold;
  margin: 0;
}
.header p {
  font-size: 15px;
  position: absolute;
  right: 20%;
  top: 20px;
  color: #707070;
  cursor: pointer;
}
.header a:hover {
  text-decoration: none;
}

.intro {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 5%;
}
.intro h1 {
  font-size: 45px;
  margin-top: 10px;
}


.copy {
  margin-bottom: 6%;
}
.copy h2 {
  margin-top: 5%;
}
.copy p {
  font-size: 18px;
}

.actions {
  background: #183152;
  text-align: center;
}
.call {
  margin-top: 4%;
}
.call p {
  font-size: 24px;
  color: #ABC8E2;
}
.call .input-group {
  margin-top: 3%;
}
#email {
  height: 60px;
  font-size: 18px;
}
#submitEmail {
  height: 60px;
  font-size: 18px;
  color: white;
  background: #EB7F00;
  border-color: #EB7F00;
}
#submitEmail:hover {
  color: white;
  background: #D47200;
  border-color: #D47200;
}
.addthis_toolbox {
  width: 138px;
  margin: auto;
  margin-top: 3%;
}
.social-button {
  margin-left: 5px;
  margin-right: 5px;
}

.video {
  margin-top: 8%;
}
.video h2 {
  color: #ABC8E2;
}
.video iframe {
  margin-top: 2%;
  width: 90%;
  height: 375px;
}

.footer {
  margin-top: 3%;
  margin-bottom: 1%;
  color: #375D81;
  font-size: 11px;
}
.footer a {
  color: #375D81;
}

@media (min-width: 992px) {
  .logo {
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .old-way {
    padding-right: 5%;
  }
  .new-way {
    padding-left: 5%;
  }
}
